body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 250px;
}

.header {
  font-size: 24px;
  margin-top: 10px;
}

.removeButton {
  vertical-align:middle;
  cursor: pointer;
  font-weight: bolder;
  color: red;
  font-size: 20px;
  float: right;
}
